{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper" class="col-xs-offset-4 col-xs-4">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> roob app <small> <a href="{{ path('fos_user_security_logout') }}">Log out</a></small></h1>

            </div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="btn btn-success" type="submit" value="Submit!"/>
            {{ form_end(form) }}

            {% if msg is defined %}
            <div class="msg">
                {{ msg }}
            </div>
            {% endif %}

        </div>
    </div>
{% endblock %}